*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
header{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr 0fr;
    background-color: #202124;
    border-bottom:solid ;
    border-color: grey;
}

#logo{
    margin: 5px;
    padding: 5px;
}

body{
    background-color: #202124;
    color: #bdc1c6;
}

#input-search{
    background-color: grey;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    width: 600px;
    height: 40px;
    grid-column: 2/5;
    color: white;
}

#avatar{
    padding: 5px;
    grid-column: 6/6;
    right: 0px;
}
.navegation{
    grid-column: 2/3;
    
}
#opcion1{
    margin: 40px;
}

#opcion2{
    margin: 40px;
}

a{
    font-size: 20px;
    color: cornflowerblue;
}

#search{
    grid-column: 4/5;
    background-color: white;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

section{
    grid-column: 2/5;
}

footer{
    background-color: #171717;
}
.location{
    display: flex;
    border-color: grey;
    border-bottom: solid;
}

.pais{
    padding: 10px;
}

.city{
    padding: 10px;
    border-color: grey;
    border-left: solid;
}

.ubi a{
    padding: 10px;
    bottom: 1px;
    font-size: 14px;
}

.actua a{
    padding: 10px;
    bottom: 1px;
    font-size: 14px;
}

.help a{
    font-size: 14px;
}
.help{
    display: flex;
}

.ayu{
    padding: 10px;
}

.comenta{
    padding: 10px;
}

.privaci{
    padding: 10px;
}

.condi{
    padding: 10px;
}
.table{
    grid-column: 6/6;
    display:flex;
    flex-direction: column;
    width: 300px;
    border-style: solid;
    text-align: center;
    padding: 10px;
    height: 600px;
}

.table h3{
    border-color: grey;
    border-bottom: solid;
}

.table .text{
    border-color: grey;
    border-top: solid;
}
.table .text a{
    font-size: 14px;
}
main section .final{
    padding: 10px;
    text-align: center;
}

main section p{
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    cursor: text;
}

#opcion1:hover{
    background-color: #323335;
    letter-spacing: 1px;
}

#opcion2:hover{
    background-color: #323335;
    letter-spacing: 1px;
}

.inputs input{
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

#search:hover{
    letter-spacing: 1px;
}

@media screen and (max-width: 400px)  {
    header{
        display: block;
        align-items: center;
        justify-content: center;
    }
    #input-search{
        width: 70%;
    }
    #avatar{
        display: none;
    }
    #logo{
        width: 100px;
    }
    footer{
        width: 100%;
    }
    section{
        grid-column: 1/5;
    }
    .table{
        grid-column: 1/5;
    }
    .location{
        display: block;
    }
    .help{
        display: block;
    }
    .city{
        border-color: grey;
        border-left: none;
        border-top: solid;
    }
    .ubi{
        margin-bottom: 10px;
    }
    
}